<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <table class="table" style="width:100%">
      <thead>
        <tr>
          <th scope="col" colspan="2">Your List Secrets</th>
      </thead>
      <thead>
        <tr>
          <th style="width:20px">NO</th>
          <th style="width:80%">Secret Text</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(i = 0;i < secrets.length; i++){ %>
        <tr>
          <th><%= i+1 %></th>
          <td><%= secrets[i] %></td>
          <td><a href="/delete?secret=<%= secrets[i] %>" class="btn btn-danger">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>